<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="SalesOrderRepaymentMapper" >
    <resultMap id="BaseResultMap" type="com.info.entity.SalesOrderRepayment" >
        <result column="Id" property="id" jdbcType="INTEGER" />
        <result column="OrderId" property="orderid" jdbcType="INTEGER" />
        <result column="Times" property="times" jdbcType="VARCHAR" />
        <result column="Type" property="type" jdbcType="INTEGER" />
        <result column="Money" property="money" jdbcType="DOUBLE" />
        <result column="OpMoney" property="opmoney" jdbcType="DOUBLE" />
        <result column="PayDate" property="paydate" jdbcType="TIMESTAMP" />
        <result column="Pay" property="pay" jdbcType="INTEGER" />
        <result column="CreateDate" property="createdate" jdbcType="TIMESTAMP" />
        <result column="Remind" property="remind" jdbcType="INTEGER" />
        <result column="PayMoney" property="paymoney" jdbcType="DOUBLE" />
        <result column="FactPayDate" property="factpaydate" jdbcType="TIMESTAMP" />
        <result column="Memo" property="memo" jdbcType="VARCHAR" />
        <result column="MoneyPay" property="moneypay" jdbcType="INTEGER" />
        <result column="OpMoneyPay" property="opmoneypay" jdbcType="INTEGER" />
        <result column="SubmitPay" property="submitpay" jdbcType="TINYINT" />
        <result column="IsAdvance" property="isadvance" jdbcType="INTEGER" />
        <result column="Bank" property="bank" jdbcType="VARCHAR" />
        <result column="BankCode" property="bankcode" jdbcType="VARCHAR" />
    </resultMap>
    
     <!-- 通过Orderid查询付款表 -->
    <select id="listOrderRepaymentByOrderId" parameterType="int" resultMap="BaseResultMap"
        useCache="false">
        select * from sales_order_repayment where orderid = #{orderid}
    </select>


</mapper>