<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.info.dao.SystemCurrencyMapper" >
    <resultMap id="BaseResultMap" type="com.info.entity.SystemCurrency" >
        <result column="Id" property="id" jdbcType="INTEGER" />
        <result column="CurrencyCountry" property="currencycountry" jdbcType="VARCHAR" />
        <result column="CurrencyName" property="currencyname" jdbcType="VARCHAR" />
        <result column="CurrencyValue" property="currencyvalue" jdbcType="VARCHAR" />
    </resultMap>

    <insert id="insert" parameterType="com.info.entity.SystemCurrency" >
        insert into system_currency (Id, CurrencyCountry, CurrencyName, 
            CurrencyValue)
        values (#{id,jdbcType=INTEGER}, #{currencycountry,jdbcType=VARCHAR}, #{currencyname,jdbcType=VARCHAR}, 
            #{currencyvalue,jdbcType=VARCHAR})
    </insert>

    <select id="selectAll" resultMap="BaseResultMap" >
        select Id, CurrencyCountry, CurrencyName, CurrencyValue
        from system_currency
    </select>

</mapper>